NEXTAUTH_URL=
NEXTAUTH_SECRET= # Run `npx auth secret` or `openssl rand -base64 32`
NEXT_PUBLIC_API_URL= 

# Microsoft Entra ID (Azure AD)
AUTH_MICROSOFT_ENTRA_ID_ID=
AUTH_MICROSOFT_ENTRA_ID_SECRET=
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID= # Use your Directory (tenant) ID or 'common' for multi-tenant
